@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Đăng nhập</h2>
<form>
    <label>Tên đăng nhập:</label><br />
    <input type="text" /><br />
    <label>Mật khẩu:</label><br />
    <input type="password" /><br />
    <button type="submit">Đăng nhập</button>
</form>
