html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*giao diện mua hàng*/

h2 {
    font-weight: bold;
    color: #333;
}

.table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.btn-success {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}

    .btn-success:hover {
        background-color: #218838;
        transform: scale(1.05);
    }
