@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thông tin thanh toán</h2>
<form>
    <label>Tên khách hàng:</label><br />
    <input type="text" /><br />
    <label>Địa chỉ:</label><br />
    <input type="text" /><br />
    <label>Số điện thoại:</label><br />
    <input type="text" /><br />
    <button type="submit">Đặt hàng</button>
</form>
